.cactu_universe,
.cactu_universe > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.cactu_universe {
  background-color: #333;
  background-repeat: repeat;
  background-image: url( ../svg/background.svg );
}